
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brainwaves Rapnet</title>
</head>
<body>
    <div> 
        <b>Upload Stock On RapNet Using RapAPI</b>
    </div>
</body>
</html>
